<div class="page-title">
    <div class="title_left">
        <h3>Product Details</h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div id="crop-avatar">
            <img class="img-responsive avatar-view" src="~/images/picture.jpg"
                 alt="Avatar" title="Change the avatar">
        </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <strong>USB CABLE 2.0 AM/AF FOR USB EXTENSION CABLE</strong>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p>Price</p>
                <p>Min Order</p>
                <p>Supply Ability</p>
                <p>Harbor</p>
                <p>Payment</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Company's Name
            </h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tab_content1" id="home-tab" role="tab"
                           data-toggle="tab" aria-expanded="true">Product Details</a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#tab_content2"
                           role="tab" id="profile-tab" data-toggle="tab"
                           aria-expanded="false">Company Profile</a>
                    </li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in"
                         id="tab_content1" aria-labelledby="home-tab">
                        <p>Product's Description</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                         aria-labelledby="profile-tab">
                        <p>Total Employee</p>
                        <p>Total Anual Revenue</p>
                        <p>Year Established</p>
                        <p>Address</p>
                        <p>Business Type</p>
                        <p>Main Products</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>