<div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 profile_details profile_view">
                <div class="x_panel">
                    <div class="left col-xs-3 text-center">
                        <img src="images/img.jpg" alt=""
                             class="img-circle img-responsive">
                    </div>
                    <div class="left">
                        <h2>Nicole Pearson</h2>
                        <p>
                            <strong>About: </strong> Web Designer / UX / Graphic Artist /
                            Coffee Lover
                        </p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-building"></i> Address:</li>
                            <li><i class="fa fa-phone"></i> Phone #:</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Recent Orders</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30"></p>
                        <table id="datatable-responsive"
                               class="table table-striped table-bordered dt-responsive nowrap"
                               cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger</td>
                                    <td>Nixon</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                </tr>
                                <tr>
                                    <td>Garen</td>
                                    <td>Winters</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                </tr>
                                <tr>
                                    <td>Ashton</td>
                                    <td>Cox</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 profile_details profile_view">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            <strong>Contact</strong>
                        </h2>
                        <h2 class="pull-right btn-link">Edit</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        <p>binh.banhtranquoc@gmail.com</p>
                        <p>
                            No account
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            <strong>Default Address</strong>
                        </h2>
                        <h2 class="pull-right btn-link">Change</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        <p>Name</p>
                        <p>Company</p>
                        <p>City</p>
                        <p>Street</p>
                        <p>City</p>
                        <p>Country</p>
                        <p>Phone</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>